body {
    margin: 0;
    padding: 0;
}

td {
    height: 2.5em;
    width: 2.5em;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.row {
    display: flex;
    flex-flow: column wrap;
    padding: .3em;
    align-items: left;
}

.middle-btn {
    justify-content: center;
    flex: 1;
}

ul.stars {
    list-style: none;
    padding: 0;
}

.links > *.row {
    flex-flow: row wrap;
    flex: 1 0 50%;
}

.links > .row:first-child {
    flex: 0 1 100%;
}

.links {
    flex-flow: row wrap;
}

p.task {
    border-bottom: 1px solid black;
}

.house {
    flex-flow: column wrap;
    align-items: left;
}

.col {
    flex-flow: column wrap;
}

td.black {
    background-color: black;
}

input.date{
    width: 200px;
}
form{
    display: flex;
    flex-flow: column wrap;
    align-items: left;
}
.error{
    color: darkred;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
    padding:1em;
}
input{
    max-width: 230px;
}

button{
    max-width: 290px;
    max-height: 20px;
}
