body{
	height: 100vh;
	margin: 0;
	padding: 0;
}
.page-wapper{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.block-header{
	width: 100%;
	text-align: center;
	background: #dfe6e9;
}
.block-body{
	width: 100%;
	flex: 1 0 auto;
	position: relative;
	text-align: center;
    display: inline-flex;
    background: #DCDCDC;
}
.block-footer{
	text-align: center;
	flex: 0 0 auto;
	background: #dfe6e9;
}
.block-col1{
	min-width: 20%;
	width: 20%;
	vertical-align: middle;
	background: #F5F5F5;
}
.block-col1 ul, .block-col2 ul {
	text-align: left;
}
.block-col2{
	min-width: 60%;
	width: 60%;
	vertical-align: middle;
	text-align: center;
	background: #DCDCDC;
}