body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    font-size: 40px;
    background-color: black;
    color: whitesmoke;
}

section.main {
    min-width: 500px;
    align-self: center;
}

.row {
    display: flex;
    flex-flow: row;
}

.col {
    border: 2px solid transparent;
}

.col > * {
    cursor: pointer;
}

.submit-btn {
    height: 50px;
    width: 100px;
    outline: none;
    background: black;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

form .row:first-child {
    justify-content: center;
}

form .row:nth-child(2) {
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

form .row:last-child {
    justify-content: center;
}

.border-active {
    border: 2px dashed whitesmoke;
    border-radius: 5px;
}

.error {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.error-msg {
    padding: 20px;
}

@media (max-width: 540px) {
    section.main {
        min-width: 300px;
    }

    form .row:nth-child(2) {
        align-items: center;
        min-height: 150px;
    }

    .row {
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
    }
}
