body{
	background: #B0C4DE;
}
.task4-line{
	display: flex;
}
.task4-cell{
	min-width: 20px;
	min-height: 20px;
	background: red;
}
.task4-cell.even{
	background: blue;
}
.triangle{
	width: 200px;
}
.chessboard{
	overflow: auto;	
}
.error{
	color: red;
}