body{
	margin: 0;
	padding: 0;
	background: #b9c783;
	color: #635960;
	font-family: 'Montserrat', sans-serif;
}
.block-auth input[type="submit"], .block-auth input[type="button"]{
	background-color: #635960;
	border: none;
	color: #fffecd;
	height: 40px;
	display: inherit;
	font-size: 1.5Em;
}
.logo{
	font-family: 'Pacifico', cursive;
	color: #fffecd;
	font-size: 4Em;
	text-align: center;
	padding-top: 7%;
	padding-bottom: 4%;
}
.block-auth > span, input{
	margin-top: 10px;
	margin-bottom: 18px;
	display: flex;
}
.block-auth{
	text-align: center;
	font-size: 0.8Em;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.block-auth span{
	text-align: left;
	font-weight:bold;

}
.block-auth	 input, .block-chat input{
	background-color: #fffecd;
	border: none;
	height: 40px;
	padding-left: 12px;
	color: #A9A9A9;
	font-size: 1.3Em;
	font-family: 'Montserrat', sans-serif;
}
.block-auth form{
	display: inline-grid;
	width: 17%;
}
.block-line {
background: linear-gradient(to right, 
    #635960 10%,
    #8b8e59 10%, #8b8e59 20%,
    #eada7d 20%, #eada7d 30%,
    #fffecd 30%, #fffecd 40%,
    #7bc3ab 40%, #7bc3ab 50%,
    #635960 50%, #635960 60%,
    #8b8e59 60%, #8b8e59 70%,
    #eada7d 70%, #eada7d 80%,
    #fffecd 80%, #fffecd 90%, 
    #7bc3ab 90%
    );
height: 5px;
width: 100%;
}
.shadow {
	z-index: -1;
    left: 30px;
    position: absolute;
    width: 105.5%;
    height: 250px;
	top: -58px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	
	background: linear-gradient(111deg, #b9c783 15px, transparent 0), 
				linear-gradient(rgba(0,0,0,0.06),rgba(0,0,0,0));
}
.shadow-box {
	position: relative;
}
.block-msg-windows {
	width: 600px;
	height: 300px;
	background: white;
    overflow-y: auto;
	text-align: left;
}
.block-chat-auth {
	display: flex;
	align-items: center;
    flex-direction: column; 
}
.block-msg {

}
.block-auth .formChat {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.block-auth .formChat input[type="text"]{
	width: 74%;
}
.block-chat input[type="button"]{
	padding-left: 30px;
	width: 20%;
}
.block-chat input {
	margin-top: 20px;
}
.error {
	color: red;
}