body {
  	margin: 0;
}
.block-body{
	margin-left: auto;
    margin-right: auto;
    min-height: 100%;
  	height: 100%;
}
.block{
	width: 100%;
}
.container{
	width: 960px;
	margin: auto;
	display: inherit;
}
.anchor {
	display: block;
	margin-top: -100px;
	padding-top: 100px
}
.anchor-menu {
	text-decoration: none;
}
.anchor-menu:visited{
	text-decoration: none;
}
.block-header {
	background: #dfe6e9;
	position: fixed;  
	top: 0;  
	z-index: 100;  
	display: block;
}
.block-header-place {
	height: 90px;
	font-style: 0;
}
.block-header-logo {
	display: inline-block;
}
.block-header-logo div {
	margin-top: 25px;
	float: left;
	font-size:36px;
	display: initial;
}
.block-header-menu {
	float: right;
	vertical-align: middle;
	text-align: center;
	margin: 4% 0 0 0;
}
.block-header-menu ul li {
	font-size: 20px;
	list-style-type: none;
	display: inline;
}
.block-header-menu li {
	margin: 30px;
}
.block-header-menu li:hover {
	background: linear-gradient(#f5ae00, #f59500) #f5ae00;
	cursor: pointer;
}
.block-header-menu li:active {
	background: linear-gradient(#f59500, #f5ae00) #f59500;
	cursor: pointer;
}
.img-logo {
	width: 100px;
	float: left;
}
.block-product {
	font-size: 16px;
	display: inline-flex;
	width: 100%;
	background: #0984e3;
}
.block-about{
	font-size: 16px;
	display: inline-flex;
}
.block-col2 {
	max-width: 50%;
	width: 50%;
	vertical-align: middle;
	text-align: center;
}
.block-col2 p {
	margin: 5%;
	text-align: justify;
}
.img-responsive {
	max-width: 80%;
	margin-left: auto;
    margin-right: auto;
}
input.buy {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
} 
input.buy:hover {
	background: linear-gradient(#f5ae00, #f59500) #f5ae00; 
}
input.buy:active {
	background: linear-gradient(#f59500, #f5ae00) #f59500; 
}
.block-col3 { 
	max-width: 33%;
	width: 33%;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
}
.block-col3 img {
    margin-top: 27px;
}
.block-contactUs {
	background: #0984e3;
	font-size: 16px;
	text-align: center;
}
.block-contactUs form {
	font-size: 16px;
	text-align: initial;
	display: inline-grid;
	width: 30%;
}
.block-contactUs input, textarea {
	margin: 5px;
}
.block-contactUs [type="radio"] {
	display: inline;
}
.block-contactUs h2 {
	padding-top: 22px;
}
.block-contactUs .buy {
	margin: 20px 0;
}
.icon-background-circle {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	width: 100px;
	height: 100px;
	background: #0984e3;
	border-radius: 100%;
	line-height: 7.5;
}
.block-footer {
	flex: 0 0 auto;
	left: 0;
	bottom: 0;
	width: 100%;
}
.block-footer p {
	text-align: center;
	font-size: 16px;
}

.block--buy{
	display: none;
	font-size: 16px;
	position: fixed; /* or absolute */
    top: 10%;
    left: 35%;
    background: #f0f0f0;
    z-index: 100;
    width: 30%;
    text-align: center;
    border-radius: 10px;
}
.block--buy form{
	display: inline-grid;
	width: 80%;
	margin: 15px;

}

.block--buy input{
	margin: 5px;
}

.block-footer {
  flex: 0 0 auto;
}