.err-msg {
  padding: 20px;
}
.block-vote{
  max-width:  295px;
  font-size: 1.5Em;
  color: #808080;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  border: outset;
  z-index: 1000;
  height: 330px;
}
.task{
  text-align: center;
}
.block-vote form{
  text-align: left;
  padding: 15px;
  width: 50%;
  margin-left: 20%;
}
.vote-signature{
  font-size: 0.7Em;
  font-style: italic;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}
.vote-radio{
  margin-left: 25%;
}
.button{
  border-radius: 10%;
  border: outset;
  cursor: pointer;
  display: inline-block;
}
.button.back{
  margin-left: 35%;
}
.button.submit{
  margin-left: 20%;
  margin-top: 20px;
}
.button-back a{
  color: #808080;
  text-decoration: none;
}
.pie-chart{
  width: 285px;
  height: 285px;
  margin-left: 5px;
}